.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.front {
  position: absolute;
  transform: rotateY(90deg);
}

.flipped .front {
  transform: rotateY(0deg);
}
